/* CSS styles for the jQuery exercise */

img { max-width: 100%; }

#viewer {
	width: 800px;
	height: 600px;
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
}

@media (max-width: 800px) {
	#viewer {
		width: 100%;
	}
	/* the height for mobile is handled by the jQuery */
}
